body {
    font-family: sans-serif;
    background-color: white;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3 {
    color: blue;
}

section {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
}

button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: aqua;
}